*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	background: #ffe259;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Lato', sans-serif;
	min-height: 100vh;
}

/* TO-DO APP TITLE */

header{
	font-size:2.5rem;
	color:#fff;
}

header,
form{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 20vh;
}

/* TO-DO APP FORM */ 

form input, form button{
	padding:0.5rem;
	font-size:2rem;
	border: none;
	background-color: #fff;
}

form button{
	color: #ff6f47;
	cursor: pointer;
}

form button:hover{
	color:#fff;
	background-color: #ff6f47;
	transition: all 0.3s ease;
}

/* TO-DO LIST FILTER */

select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline:none;
	border:none;
 }

 .select{
 	margin:1rem;
 	position: relative;
 	overflow:hidden;
 }

 select{
 	color:#ff6f47;
 	width:10rem;
 	cursor:pointer;
 	padding:1rem;
 }

 .select::after{
 	content:"\25BC";
 	color: #fff;
 	position:absolute;
 	background:#ff6f47;
 	top:0;
 	right:0;
 	padding:1rem;
 	pointer-events:none;
 	transition: all 0.3s ease;
 }

 .select:hover::after{
 	background: white;
 	color:#ff6f47;
 }

/* TO-DO APP LIST */

.todo__container{
	display: flex;
	justify-content: center;
	align-items: center;
}
.content__todo--list{
	min-width:30%;
	list-style: none;
}


.todo{
	color:#000;
	display: flex;
	background:#fff;
	display: flex;
	margin:0.5rem;
	font-size:1.5rem;
	justify-content: space-between;
	align-self: center;
}

.todo li{
	flex: 1;
	padding: 0.5rem 1.5rem;
}

.trash-btn,
.complete-btn{
	color:white;
	border:none;
	padding:1rem;
	cursor:pointer;
	font-size: 1rem;
}

.trash-btn{
	background: #ff6f47;
}
.trash-btn:hover{
	background: #fff;
	color:#ff6f47;
}

.complete-btn{
	background: #2ecc71;
}
.complete-btn:hover{
	background: #fff;
	color:#2ecc71;
}

/* the other solution is on the script - so that clicking on the icons does not affect the behavior */
.fa-check,
.fa-trash{
	pointer-events: none;
}